# R Time for Clustering

In [1]:
import pandas as pd

In [2]:
time_r_df = pd.read_csv('Time_in_R.csv')

In [3]:
time_r_df.groupby(['Dataset'])['ComputationTime'].describe().round(3)

,count,mean,std,min,25%,50%,75%,max
Dataset,,,,,,,,
arxiv,10.0,12.041,1.145,10.259,11.423,12.107,13.022,13.535
birch,10.0,315.230,27.547,280.723,293.139,315.884,333.288,367.620
detectai,10.0,0.195,0.013,0.180,0.187,0.192,0.197,0.224
newsgroup20,10.0,254.849,31.104,201.876,249.299,260.025,276.881,292.491
newsgroup3,10.0,1.380,0.763,1.038,1.048,1.102,1.123,3.480
reddit,10.0,202.684,17.130,181.936,187.317,205.049,211.584,234.756
stackexchange,10.0,47.609,8.854,37.274,39.335,47.033,54.696,60.140
uciml,10.0,2.216,0.297,1.924,2.019,2.116,2.349,2.874

# Python Time for Clustering

In [4]:
import numpy as np

In [ ]:
time_py_df = pd.DataFrame(np.genfromtxt("Time_in_Python.csv", delimiter="", dtype=None, encoding=None))

In [8]:
time_py_df.columns = ['Iteration','Dataset','Algorithm','ARI','V Measure','Macro Precision','Macro Recall','Number of Rows','Number of Columns','Computation Time (seconds)','K']

In [11]:
time_py_df.groupby(['Dataset'])['Computation Time (seconds)'].describe().round(3)[['mean','std']]

                  mean     std
Dataset
20Newsgroups   106.621  13.767
3Newsgroups      0.761   0.173
arxiv           10.756   1.605
birch          305.066  21.262
detectai         0.315   0.065
digits           3.431   0.559
reddit          74.046   5.899
stackexchange   25.151   1.902